*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F8FF;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styled */
.max-width{
    max-width: 1140px;
    margin: 0 auto;
}
.text-gray{
    color: #8987A1;
    font-family: sans-serif;
}
.text-black{
    color: #252432;
}
.text-highlight{
    color: #E95A08;
}
.text-center{
    text-align: center;
}
.section-title{
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}
.flex{
    display: flex;
}   
.ul-style{
    list-style: none;
}
.font-bold{
    font-weight: 700;
}


/* nav style */
header{
    margin: 0 auto;
}
nav{
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 120px;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px;
}
/* banner style */
.banner-container{
    align-items: center;
}
.banner-content,
.banner-image{
    width: calc(100% - 40px / 2);
}
.banner-title{
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Noto serif";
}
.banner-description{
    margin-top: 20px;
    line-height: 1.5em;
}

/* main style start */

/* plant section */
.plants{
    margin-top: 90px;
}
.plants-content,
.deal-content{
    width: 890px;
    margin: 0 auto;
}
.plants-content .plant-description{
    margin-top: 16px;
    margin-bottom: 45px;
}

/* plants carts style */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card img{
    width: 100%;
}
.item-name,
.item-price{
    font-size: 1.375rem;
    font-family: "Inter";
}
.item-price{
    font-weight: 600;
    margin: 15px 0;
}
.btn-cart{
    width: 100%;
    background-color: #E95A08;
    color: #fff;
    text-transform: uppercase;
    font-family: "Inter";
    font-weight: 600;
    border: none;
    padding: 16px 20px;
}

/* badge section start */
.badge-section{
    margin-top: 150px;
    gap: 80px;
    align-items: center;
}
.badge-image,
.badge-content{
    width: calc(100% / 2 - 80px);
}
.badge-image{
    position: relative;
}
.badge-content .section-title,
.badge-content ul li{
    margin-bottom: 30px;
}
.list-item{
    padding-left: 20px;
    line-height: 1.5em;
}
.badge{
    background-color: transparent;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -20%;
    left: 75%;
    z-index: 999;
}

/* latest deal */
.latest-deal{
    margin-top: 100px;
}
.deal-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.box{
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
}
.text-container{
   color: #fff;
   font-family: "Inter";
   text-align: center;
   background-color: transparent;
}
.text-container a{
    color: #fff;
}
.deal-secondary-title {
    font-size: 1rem;
    font-weight: 600;
}
#box-2 .deal-secondary-title {
    font-size: 1.6rem;
}
#box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/deal-bloom.png");
}
#box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
    grid-column: span 2;
    background-image: url("../assets/deal-zabo.png");
    background-size: cover;
}
#box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/deal-ana.png");
    background-size: cover;
    padding: 80px 100px;
}

/* Join section start */
.join{
    margin-top: 100px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/news-letter-bg.png");
}
.join .section-title{
    color: #fff;
}
.join-form input[type="email"]{
    width: 70%;
    padding: 14px 10px;
    color: #dccccc;
    outline: none;
    border: none;
    margin-right: 20px;
}
form{
    margin-top: 20px;
}
.btn-join{
    padding: 14px 30px;
    margin-left: -24px;
    border: none;
    background-color: #E95A08;
    color: #fff;
}

/* footer style start */
footer{
    padding: 50px 0;
    gap: 20px;
}
footer .logo-area,
footer .links-area,
footer .social-area{
    width: calc(100% / 3 - 60px);
}
.links{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.links li{
    list-style: none;
}
.links a{
    color: #8987A1;
}
.social-links{
    display: flex;
    gap: 10px;
    align-items: center;
}
.social-links li{
    list-style: none;
}

/* responsive style */
@media screen and (max-width: 576px) {
    body{
        padding: 0 10px;
    }
    nav{
        margin-bottom: 80px;
    }
    nav .display-hide{
        display: none;
    }
    /* banner section */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content,
    .banner-image{
        width: 100%;
    }
    .banner-image{
        margin-bottom: 30px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-image img,
    .badge-image img{
        width: 100%;
    }

    /* plant section */
    .plants-content,
    .deal-content{
        width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* badge section */
    .badge-section{
        flex-direction: column;
    }
    .badge-image,
    .badge-content{
        width: 100%;
        gap: 20px;
    }
    .badge{
        display: none;
    }

    /* deal style */
    .deal-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .deal-description{
        margin-top: 20px;
    }
    .deal-secondary-title {
    font-size: 1rem;
    font-weight: 600;
    } 
    #box-2 .deal-secondary-title {
        font-size: 1rem;  
    }

    /* Join section style */
    .join{
        padding-left: 20px;
    }

    /* footer style */
    footer{
        flex-direction: column;
    }
    footer .logo-area,
    footer .links-area,
    footer .social-area{
        width: 100%;
        padding-left: 20px;
     }
    .links{
        grid-template-columns: 1fr;
        gap: 15px;
    }
}